.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.li-content {
  word-break: break-all;
}

.sticky {
  position: -webkit-sticky; 
  position: sticky;
  top: 0; 
  z-index: 1000;
}

.grid-container {
  max-height: calc(100vh - 200px);
}
