@media only screen and (min-width: 768px) {
  
}

.bg-img {
  background-image: url("https://myaloha.vn/image/contest/leaderboard.png");
}

#components-collapse-demo-collapsible .ant-space {
  width: 100%;
}

.ranking-info {
  position: absolute;
  padding: 10px 30px 0px 30px;
  background-color: #fff;
  margin-bottom: 3rem;
}

img {
  height: 100%;
}

.star-icon-block {
  position: absolute;
  width: 100%;
  top: 10%;
}
