.grid-container {
  max-height: calc(100vh - 100px);
  overflow-y: auto;
}

.ant-picker-ok {
  background-color: whitexóa ;
  border-color: none;
  color: black;

  span {
    color: black;
  }
}

.input-question-container {
  overflow-wrap: break-word;
}

.input-answer-container {
  width: 100%;
}