@tailwind base;
@tailwind components;
@tailwind utilities;

.fit-content {
  width: fit-content;
}

.ant-layout {
  min-height: 100vh;
  height: 100%;
  background-color: white;
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  overflow-x: hidden;
}

.content {
  flex: 1;
  overflow: auto;
}

.custom-button {
  color: #fff;
  background-color: #002c6a;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #007bff;
}


.carousel-container {
  position: relative;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.carousel-control.left {
  left: -40px; /* Adjust as needed */
}

.carousel-control.right {
  right: -40px; /* Adjust as needed */
}

/* Adjust the card size */
.ant-carousel .slick-slide {
  padding: 0 10px; /* Add padding to make cards smaller */
  width: 100%;
}

