.nav-link {
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #007bff;
}

.logo {
  max-width: 100px;
  height: auto;
}

.header-container {
  background-color: #f2f2f2;
}

.header-link {
  color: #333;
}

.header-link:hover {
  color: #ff0000;
}